<!DOCTYPE html>
<html>
<head>
    <title>Go interface implement</title>
    <link rel="stylesheet" href="/assets/su/semantic.min.css?span={{.TimeSpan}}"/>
</head>
<body>

<div id="form1" class="ui form margin" style="padding:10px">
    <div class="two col clearfix">
        <div class="field">
            <label>Go Interface Code：</label>
            <div class="ui input code">
                <textarea field="src" rows="20"></textarea>
            </div>
        </div>
        <div class="field">
            <label>Go Code：</label>
            <div class="gra-form-col">
                <textarea field="code" rows="20"></textarea>
            </div>
        </div>
    </div>


    <div class="field right">

        <div class="gra-btn gra-btn-inline btn-submit" id="btn_save">
            Decode
        </div>

        <strong>Options:</strong>&nbsp;&nbsp;&nbsp;
        <div class="ui check checkbox">
            <input type="checkbox" field="fmt" id="fmt" checked="checked"/>
            <label for="fmt">Format</label>
        </div>

    </div>

</div>

<script src="{{.Var.StaticPath}}/assets/js/lib/jquery.3x.js?span={{.TimeSpan}}"></script>
<script src="{{.Var.StaticPath}}/assets/su/semantic.min.js?span={{.TimeSpan}}"></script>
<script src="{{.Var.StaticPath}}/assets/js/jr/core.js?span={{.TimeSpan}}"></script>

<script type="text/javascript">
    function decode() {
        var data = jr.json.toObject('form1');
        data.action = 'go-iface-impl';
        if(data.src.length == 0){
            jr.dialog.alert('please typing source code!');
            return false;
        }
        jr.xhr.post('/p', data, function (r) {
            jr.json.bind('form1',{code:r});
        },function(){
            jr.dialog.alert('can\'t connect to server')
        });
    }
    jr.$('btn_save').onclick = decode;
</script>
</body>
</html>
